<!-- Estilos personalizados para el formulario de inicio de sesión -->
<style>
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    .login-form {
        max-width: 400px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-control {
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
    }

    .btn-primary {
        background-color: #343a40;
        color: #ffffff;
        border: 1px solid #343a40;
    }

    .btn-primary:hover {
        background-color: #1d2124;
        border: 1px solid #1d2124;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #ffffff;
        border: 1px solid #6c757d;
    }

    .btn-secondary:hover {
        background-color: #545b62;
        border: 1px solid #545b62;
    }

    .btn-forgot {
        background-color: #254563;
        color: #ffffff;
        border: 1px solid #343a40;
    }

    .btn-forgot:hover {
        background-color: #1d3c52e5;
    }
</style>

<div class="login-container">
    <form class="login-form" action="api/sessions/login" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" data-id="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" data-id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <button class="btn btn-secondary" onclick="location.href='/api/sessions/auth/github'">Login with GitHub</button>
    <button class="btn btn-forgot btn-secondary mt-2"  onclick="location.href='http://localhost:8080/restore'">Restore Access</button>
</div>
